.round-cta {
  margin: 60px auto;

  >div {
    background-color: #7F8C8D;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #fff;
    font-size: 40px;
    border-radius: 40px;
    margin: 0 auto;
  }

  >p {
    text-align: center;
    margin: 10px;
  }
}

.round-cta.active >div {
  background-color: #8CC63F;
}

.content-block {
  text-align: center;
  margin: 20px auto;

  p {
    font-weight: 500;
  }
}

a.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #304446;
  color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2), -1px 1px 2px rgba(0,0,0,0.2);
}

a.button.btn-lg {
  display: block;
  width: 150px;
  text-align: center;
  margin: 20px auto;
}


.round-ico{
  margin: 30px auto;

  >div {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #7F8C8D;
    font-size: 100px;
    border-radius: 50px;
    margin: 0 auto;
  }
}
